body {
  margin: 0 auto;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;

  background-color: #849d8f;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.modal-submit {
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  width: 102px;
  height: 46px;
/*  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004); */
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #fefefe;
  border-radius: 25px;

}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-navigation a {
  color: #ffffff;
}

.navigation {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  list-style: none;
}

.user-menu {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;

  list-style: none;
}

.user-menu a {
  color: #ffffff;
  text-decoration: none;
}

.modal-login-input {
  font-size: 14;
  line-height: 24px;
  color: #999999;
}

.forgot-password-registration-link a {
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  text-decoration: underline;
}

.modal-search-input {
  font-size: 14px;
  line-height: 24px;
  color: #999999;
}

.stock-list {
  list-style: none;
}

.stock-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  color: #ffffff;
}

.stock-text {
  font-size: 18px;
  font-weight: 22px;
  font-weight: bold;
  color: #ffffff;
}

.catalog-list {
  list-style: none;
  text-align: center;
}

.item-name-link {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.item a {
  color: #ffffff;
}

.item-price {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  color: #ffffff;
}

.item-measure {
  font-size: 30px;
}

.rub{
  font-size: 45px;
}

.features {
  text-align: left;
}

.features-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
}

.features-item {
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  list-style: none;
}

.preview {
  text-align: left;
}

.preview-title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #323232;
}

.preview-name {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.preview a {
  color: #323232;
}

.subscribe {
  text-align: left;
}

.subscribe {
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
}

.subscribe-form {
  line-height: 24px;
  color: #999999;
}

.adress {
  text-align: left;
}

.adress_main-office {
  font-size: 14px;
  line-height: 20px;
  color: #323232;
}

.adress_street {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #323232;
}

.adress_telephone {
  font-size: 14px;
  line-height: 20px;
  color: #323232;
}

.adress_telephone_number {
  font-size: 14px;
  line-height: 22px;
  color: #323232;
}

.tel {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}
 .social-list {
   list-style: none;
 }

 .about-us-list {
   list-style: none;
 }

.about-us-item {
  font-size: 13px;
  line-height: 18px;
}

.about-us-item-special {
  font-size: 13px;
  line-height: 18px;
  font-weight: bold;
}

.about-us-item a {
  color: #ffffff;
}

.about-us-item-special a {
  color: #ffffff;
}

.made-in {
  font-size: 12px;
  line-height: 18px;
  color: #fefefe;
}

.made-in a {
  color: #fefefe;
}

.item-image {
  border-radius: 50%;
}

.modal-feedback-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
}

.modal-feedback-input,
.modal-feedback-text {
  font-size: 16px;
  line-height: 24px;
  color: #999999;
}


/* inner-page*/

.submenu-item-active {
  background-color: #d07058;
}

.submenu-item-active a {
  color: #ffffff;
}

.breadcrumbs-list {
  font-size: 14px;
  line-height: 16px;
  list-style: none;
}

.breadcrumbs-list a {
  color: #ffffff;
}

.catalog-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  color: #ffffff;
}

.pagination {
  font-size: 16px;
  line-height: 18px;
  }

.pagination-list {
  list-style: none;
}

.pagination-list a {
  color: #ffffff;
  text-decoration: none;
}

.modal-basket {
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  width: 576px;
  height: 280px;
  font-size: 13px;
  line-height: 16px;
  border-radius: 5px;
}

.modal-basket-currency {
  color: #999999;
}

.modal-basket-final-price {
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  text-align: right;
}

/*.modal-basket-link {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #fefefe;
  text-decoration: none;
} */

.modal-basket-link {
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
  width: 170px;
  height: 44px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #fefefe;
  text-decoration: none;
}

.modal-basket-picture-link {
  border-radius: 50%;
}


/*---СЕТКИ---*/

.inner {
  width: 1146px;
  margin: 0 auto;
  padding-left: 27px;
  padding-right: 27px;
}


.main-header-container {
  display: flex;
  vertical-align: middle;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.logo {
  margin: 0;
  padding: 0;
  margin-right: 9px;
  padding-top: 9px;
}

.navigation {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  list-style: none;
  display: flex;
  vertical-align: middle;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  min-height: 73px;
  margin-top: 2px;
}

.navigation-item {
  vertical-align: middle;
  align-self: center;
}

.for-submenu {
  position: relative;
}

.navigation-item a {
  display: block;
  vertical-align: middle;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.navigation-link:hover,
.navigation-link:focus {
  color: #323232;
  background-color: #f8f7f4;
  border-radius: 21px;
}

.user-menu {
  display: flex;
  vertical-align: middle;
  margin-left: auto;
  margin-right: 1px;
  padding: 0;
  min-height: 73px;
  align-self: center;
}

.search {
  position: relative;
  display: flex;
}

.button-search {
  display: block;
  box-sizing: border-box;
  width: 33px;
  height: 33px;
  background-color: rgb(255, 255, 255, 0.2);
  align-self: center;
  padding: 7px;
  padding-left: 9px;
  border-radius: 50%;
}

.button-search:hover,
.button-search:focus {
  background-color: #f8f7f4;
}

.button-search:hover path,
.button-search:focus path {
  fill: #000000;
}

.modal-search {
  box-sizing: border-box;
  position: absolute;
  display: none;
  top: 56px;
  left: -308px;
  padding: 0;
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 21px;
  border-radius: 6px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  width: 341px;
  height: 84px;
}

.modal-search-input {
  margin:0;
  padding:0;
  height: 43px;
  padding-left: 13px;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgb(211, 211, 210);
}

.search:hover .modal-search {
  display: block;
  position: absolute;
}

.login,
.basket {
  display: flex;
}

.button-login,
.button-basket {
  display: flex;
  position: relative;
}

.login-picture {
  position: absolute;
  top: 7px;
  left: 18px;
  width: 21px;
  height: 19px;
}

.button-login:hover path,
.button-login:focus path {
  fill: #000000;
}

.button-login:hover polygon,
.button-login:focus polygon {
  fill: #000000;
}

.basket-picture {
  position: absolute;
  top: 6px;
  left: 17px;
  width: 21px;
  height: 20px;

}


.button-login,
.button-basket {
  display: flex;
  align-self: center;
  background-color: rgb(255, 255, 255, 0.2);
  margin-left: 10px;
  padding-right: 16px;
  padding-left: 45px;
  border-radius: 20px;
  padding-top: 8px;
  padding-bottom: 9px;
}

.button-login:hover,
.button-login:focus {
  background-color: #f8f7f4;
  color: #000000;
}

.for-submenu:hover .submenu {
  opacity: 1;
  visibility: visible;
}

.submenu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 36px;
  left: -5px;
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 143px;
  min-height: 165px;
  margin: 0;
  padding: 0;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.submenu-item a {
  display: block;
}

.submenu a {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;

}

.special a {
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.submenu-item:hover,
.submenu-item:focus {
  background-color: #fbded7;
}

.stock-list {
  display: flex;
  margin: 0px;
  padding: 0px;
  justify-content: space-between;
  margin-bottom: 40px;
}

.stock-item {
  box-sizing: border-box;
  width: 560px;
  min-height: 229px;
  border-radius: 15px;
  padding-top: 15px;
  padding-left: 20px;
}

.stock-title {
  margin: 0;
  margin-bottom: 15px;

}

.stock-text {
  padding: 0px;
  margin: 0px;
  width: 522px;
  line-height: 22px;
  text-align: left;
}

.stock-item:first-child {
  background-image: url("../img/background/raspberry.jpg");
}

.stock-item:last-child {
  background-image: url("../img/background/chocolate.jpg");
}

.catalog-list {
  display: flex;
  margin: 0px;
  padding: 0px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.catalog-list li:nth-child(4n) {
  margin: 0;
  padding: 0;
}


.item {
  display: flex;
  flex-direction: column;
  width: 267px;
  margin: 0px;
  padding: 0px;
  margin-bottom: 40px;
  margin-right: 26px;
}

.item-name {
  order: 2;
}

.item-link {
  order: 3;
}

.features {
  box-sizing: border-box;
  width: 1146;
  background-image: url("../img/background/waffle.jpg");
  border-radius: 15px;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  padding-top: 33px;
  padding-left: 20px;
}

.features-title {
  padding: 0;
  margin: 0;
}

.features-list {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  width: 1146px;
  min-height: 306px;
}

.features-item {
  margin: 0;
  padding: 0;
  width: 475px;
  height: 55px;
}

.preview-subscribe-container {
  display: flex;
  margin: 0px;
  padding: 0px;
  justify-content: space-between;
}

.preview {
  box-sizing: border-box;
  width: 560px;
  min-height: 220px;
  margin: 0px;
  padding: 0px;
  background-image: url("../img/background/strawberry.jpg");
  border-radius: 15px;
  padding-left: 20px;
  padding-top: 29px;
}

.preview-title {
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
}

.preview-name {
  margin: 0;
  padding: 0;
  width: 285px;
}

.subscribe {
  width: 560px;
  min-height: 220px;
  margin: 0px;
  padding: 0px;
  background-color: #f8f7f4;
  border-radius: 15px;
}

.address {
  box-sizing: border-box;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.98);
  width: 302px;
  height: 305px;
  padding-left: 25px;
  padding-top: 33px;
}

.adress_main-office {
  margin: 0;
  padding: 0;
  width: 150px;
  margin-bottom: 10px;
}

.adress_street {
  margin: 0;
  padding: 0;
  width: 223px;
  margin-bottom: 25px;
}

.adress_telephone {
  margin: 0;
  padding: 0;
  width: 173px;
}

.tel {
  width: 138px;
}

.footer-container {  /*Конечные расположение и отступы будут после того, как поставлю изображения в social-list */
  display:flex;
  margin: 0px;
  padding: 0px;
  min-height: 100px;
}

.social-list {
  display: flex;
  margin: 0px;
  padding: 0px;
  margin-right: auto;
}

.made-in {
  margin: 0px;
  padding: 0px;
  margin-left: auto;
}

.modal-feedback {
  display: flex;
  flex-direction: column;
  width: 476px;
  height: 444px;
  margin: 0px;
  padding: 0px;
  background-color: rgb(248, 247, 244);
  border-radius: 10px;
}

.modal-feedback-container {
  display: flex;
  flex-direction: column;
}

.breadcrumbs-list {
  display: flex;
  margin: 0px;
  padding: 0px;
  justify-content: flex-start;
  margin-right: auto;
}


.pagination-list {
  display: flex;
  margin: 0px;
  bottom: 0px;
  margin-left: auto;
  justify-content: flex-end;
}

.modal-feedback-title {
  padding: 0px;
  margin: 0px;
  margin-left: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.modal-feedback-input {
  padding: 0px;
  padding-left: 15px;
  width: 267px;
  margin-left: 25px;
  margin-bottom: 20px;
  border: 1px solid rgb(178, 178, 178);
  border-radius: 5px;
  height: 44px;
}

.modal-feedback-text {
  padding: 0px;
  padding-left: 15px;
  margin-left: 25px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(178, 178, 178);
  border-radius: 5px;
  width: 426px;
  height: 155px;
}
