body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;

  background-color: #849d8f;
}

.modal-submit {
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  width: 102px;
  height: 46px;
/*  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004); */
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #fefefe;
  border-radius: 25px;

}


.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-navigation a {
  color: #ffffff;
}

.navigation {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  list-style: none;
}

.navigation a:hover,
.navigation a:focus {
  color: #323232;
  background-color: #f8f7f4;
}


.submenu {
  opacity: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  list-style: none;

  background-color: #f8f7f4;

}

.submenu a:hover,
.submenu a:focus {
  background-color: #fbded7;
}

.submenu a {
  color: #323232;
  text-decoration: none;
}

.submenu-item-special a {
  font-weight: bold;
}

.user-menu {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;

  list-style: none;
}

.user-menu a {
  color: #ffffff;
  text-decoration: none;
}

.modal-login-input {
  font-size: 14;
  line-height: 24px;
  color: #999999;
}

.forgot-password-registration-link a {
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  text-decoration: underline;
}

.modal-search-input {
  font-size: 14px;
  line-height: 24px;
  color: #999999;
}

.stock-list {
  list-style: none;
}

.stock-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  color: #ffffff;
}

.stock-text {
  font-size: 18px;
  font-weight: 22px;
  font-weight: bold;
  color: #ffffff;
}

.catalog-list {
  list-style: none;
  text-align: center;
}

.item-name-link {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.item a {
  color: #ffffff;
}

.item-price {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  color: #ffffff;
}

.item-measure {
  font-size: 30px;
}

.rub{
  font-size: 45px;
}

.features {
  text-align: left;
}

.features-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
}

.features-item {
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  list-style: none;
}

.preview {
  text-align: left;
}

.preview-title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #323232;
}

.preview-name {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.preview a {
  color: #323232;
}

.subscribe {
  text-align: left;
}

.subscribe {
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
}

.subscribe-form {
  line-height: 24px;
  color: #999999;
}

.adress {
  text-align: left;
}

.adress_main-office {
  font-size: 14px;
  line-height: 20px;
  color: #323232;
}

.adress_street {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #323232;
}

.adress_telephone {
  font-size: 14px;
  line-height: 20px;
  color: #323232;
}

.adress_telephone_number {
  font-size: 14px;
  line-height: 22px;
  color: #323232;
}

.tel {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}
 .social-list {
   list-style: none;
 }

 .about-us-list {
   list-style: none;
 }

.about-us-item {
  font-size: 13px;
  line-height: 18px;
}

.about-us-item-special {
  font-size: 13px;
  line-height: 18px;
  font-weight: bold;
}

.about-us-item a {
  color: #ffffff;
}

.about-us-item-special a {
  color: #ffffff;
}

.made-in {
  font-size: 12px;
  line-height: 18px;
  color: #fefefe;
}

.made-in a {
  color: #fefefe;
}

.item-image {
  border-radius: 50%;
}

.modal-feedback-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
}

.modal-feedback-input,
.modal-feedback-text {
  font-size: 16px;
  line-height: 24px;
  color: #999999;
}


/* inner-page*/

.submenu-item-active {
  background-color: #d07058;
}

.submenu-item-active a {
  color: #ffffff;
}

.breadcrumbs-list {
  font-size: 14px;
  line-height: 16px;
  list-style: none;
}

.breadcrumbs-list a {
  color: #ffffff;
}

.catalog-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  color: #ffffff;
}

.pagination {
  font-size: 16px;
  line-height: 18px;
  }

.pagination-list {
  list-style: none;
}

.pagination-list a {
  color: #ffffff;
  text-decoration: none;
}

.modal-basket {
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  width: 576px;
  height: 280px;
  font-size: 13px;
  line-height: 16px;
  border-radius: 5px;
}

.modal-basket-currency {
  color: #999999;
}

.modal-basket-final-price {
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  text-align: right;
}

/*.modal-basket-link {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #fefefe;
  text-decoration: none;
} */

.modal-basket-link {
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
  width: 170px;
  height: 44px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #fefefe;
  text-decoration: none;
}

.modal-basket-picture-link {
  border-radius: 50%;
}


/*---СЕТКИ---*/

.inner {
  width: 1146px;
  margin: 0 auto;
  padding-left: 27px;
  padding-right: 27px;
}



.main-header {
  min-height: 73px;
}

.main-hedear-inner {
  display: flex;
  min-height: 73px;
}

.logo {
  width: 154px;
  height: 64px;
  margin-right: 25px;
  padding-top: 9px;
}

.navigation {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;

  /* Временно для сетки */
  min-height: 73px;
  width: 383px;
}

.navigation-item {
  margin: 0;
  padding: 0;
}

.navigation li {
  padding-top: 35px;
  margin-right: auto;
}

.user-menu {
  margin-left: auto;
}

.user-menu-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;

  /* Временно для сетки */
  min-height: 73px;

  width: 267px;
}

.user-menu li {
  margin-left: auto;
  padding-top: 23px;
}

.stock-list {
  display: flex;
  margin: 0px;
  padding: 0px;
  justify-content: space-between;
  margin-bottom: 40px;
}

.stock-item {
  width: 560px;
  min-height: 229px;
  border-radius: 15px;

}

.stock-title {
  margin: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 20px;

}

.stock-text {
  padding: 0px;
  margin: 0px;
  width: 522px;
  margin-left: 20px;
  line-height: 22px;
  text-align: left;
}

.stock-item:first-child {
  background-image: url("../img/background/raspberry.jpg");
}

.stock-item:last-child {
  background-image: url("../img/background/chocolate.jpg");
}

.catalog-list {
  display: flex;
  margin: 0px;
  padding: 0px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.catalog-list li:nth-child(4n) {
  margin: 0;
  padding: 0;
}


.item {
  display: flex;
  flex-direction: column;
  width: 267px;
  margin: 0px;
  padding: 0px;
  margin-bottom: 40px;
  margin-right: 26px;
}

.item-name {
  order: 2;
}

.item-link {
  order: 3;
}

.features {
  display: flex;
  flex-direction: column;
  width: 1146;
  background-image: url("../img/background/waffle.jpg");
  border-radius: 15px;
  margin: 0px;
  padding: 0px;
  margin-bottom: 40px;
}

.features-list {
  margin: 0px;
  padding: 0px;
  display: flex;
  width: 573px;
}

.preview-subscribe-container {
  display: flex;
  margin: 0px;
  padding: 0px;
  justify-content: space-between;
}

.preview {
  width: 560px;
  min-height: 220px;
  margin: 0px;
  padding: 0px;
  background-image: url("../img/background/strawberry.jpg");
  border-radius: 15px;
}

.subscribe {
  width: 560px;
  min-height: 220px;
  margin: 0px;
  padding: 0px;
  background-color: #f8f7f4;
  border-radius: 15px;
}

.footer-container {  /*Конечные расположение и отступы будут после того, как поставлю изображения в social-list */
  display:flex;
  margin: 0px;
  padding: 0px;
  min-height: 100px;
}

.social-list {
  display: flex;
  margin: 0px;
  padding: 0px;
  margin-right: auto;
}

.made-in {
  margin: 0px;
  padding: 0px;
  margin-left: auto;
}

.modal-feedback {
  display: flex;
  flex-direction: column;
  width: 476px;
  height: 444px;
  margin: 0px;
  padding: 0px;
  background-color: rgb(248, 247, 244);
  border-radius: 10px;
}

.modal-feedback-container {
  display: flex;
  flex-direction: column;
}

.breadcrumbs-list {
  display: flex;
  margin: 0px;
  padding: 0px;
  justify-content: flex-start;
  margin-right: auto;
}


.pagination-list {
  display: flex;
  margin: 0px;
  bottom: 0px;
  margin-left: auto;
  justify-content: flex-end;
}

.modal-feedback-title {
  padding: 0px;
  margin: 0px;
  margin-left: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.modal-feedback-input {
  padding: 0px;
  padding-left: 15px;
  width: 267px;
  margin-left: 25px;
  margin-bottom: 20px;
  border: 1px solid rgb(178, 178, 178);
  border-radius: 5px;
  height: 44px;
}

.modal-feedback-text {
  padding: 0px;
  padding-left: 15px;
  margin-left: 25px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(178, 178, 178);
  border-radius: 5px;
  width: 426px;
  height: 155px;
}
