/*глобальные стили*/

body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
  background-color: #849d8f;
}

.site-wrapper {
  position: relative;
  min-width: 1200px;
  margin: 0 auto;
  padding: 0;
  background: url("../img/background/slider-item1.png") no-repeat top center #849d8f;
  -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
  -o-transition: background-image 0.5s ease, background-color 0.5s ease;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("img/slider-item2.png");
}

.site-wrapper::after {
  background-image: url("img/slider-item3.png");
}

.container {
  display: block;
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}



.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*глобальные стили*/


/*кнопки. общий стиль*/
.button {
  display: inline-block;
  color: #ffffff;
  text-align: center;
  vertical-align: top;
  background: #f26843;
  background: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -o-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
}

.button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -o-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -o-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  -webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
/*кнопки. общий стиль*/


/*хедер*/
.main-header {
  position: relative;
}

.main-header-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.logo {
  margin: 0;
  padding: 0;
  margin-right: 9px;
  padding-top: 9px;
}

.main-navigation a {
  color: #ffffff;
}

.navigation {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  min-height: 73px;
  height: 100%;
}

.navigation-item {
  vertical-align: middle;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.navigation-item a {
  display: inline-block;
  vertical-align: middle;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.for-submenu {
  position: relative;
  padding-bottom: 6px;
  margin-top: 6px;
}

.for-submenu:hover .submenu {
  display: block;
}

.navigation-link:hover,
.navigation-link:focus {
  color: #323232;
  background-color: #f8f7f4;
  border-radius: 21px;
}

.navigation-link:active {
  -webkit-box-shadow: inset 0 2px 1px 0 #696969;
          box-shadow: inset 0 2px 1px 0 #696969;
}

.navigation-link-active {
  background-color: #d07058;
  border-radius: 21px;
}

.navigation-item>a::after {
  content: "";
  display: block;
	height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

.navigation-item-active>a::after {
  content: none;
}

.navigation a:not([href]) {
  cursor: pointer;
}

.submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  display: none;
  position: absolute;
  top: 36px;
  left: -5px;
  list-style: none;
  width: 143px;
  min-height: 171px;
  margin: 0;
  padding: 0;
  background-color: #f8f7f4;
  border-radius: 5px;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  z-index: 10;
  overflow: hidden;
}

.submenu a {
  margin: 0;
  padding: 0;
  vertical-align: top;
  padding-left: 20px;
  padding-top: 9px;
  padding-bottom: 7px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.submenu::before {
  position: absolute;
  top: 38px;
  left: 7px;
  content: "";
  width: 128px;
  height: 1px;
  background-color: #d1d0ce;
}

.navigation .submenu-item-active a {
  background-color: #d07058;
  color: #ffffff;
}

.submenu-item a {
  display: block;
}

.submenu-link:hover,
.submenu-link:focus {
  background-color: #fbded7;
}

.submenu-link:active {
  background-color: #f6b5a5;
}

.submenu-item-active {
  background-color: #d07058;
}

.submenu-item-active a {
  color: #ffffff;
}

.special a {
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.user-menu {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: 1px;
  padding: 0;
  /*min-height: 73px;*/
  -ms-flex-item-align: center;
      align-self: center;
}

.user-menu a {
  color: #ffffff;
  text-decoration: none;
}

.search,
.login,
.basket {
  height: 33px;
  padding-bottom: 6px;
  margin-top: 6px;
}

/*поиск*/
.search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search>a{
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 33px;
  height: 33px;
  background-color: rgba(255, 255, 255, 0.2);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 7px;
  padding-left: 9px;
  border-radius: 50%;
  margin-right: -3px;
}

.search:hover .modal-search {
  display: block;
  position: absolute;
}

.search:hover .button-search {
  background-color: #f8f7f4;
}

.search:hover .button-search path {
  fill: #000000;
}

.modal-search {
  position: absolute;
  top: 35px;
  left: -309px;
  display: none;
  width: 340px;
  height: 84px;
  padding: 20px 15px;
  border-radius: 6px;
  z-index: 15;
  background-color: rgb(248, 247, 244);
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

input[type=search] {
	padding: 9px 13px;
  width: 311px;
  height: 44px;
	font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: #323232;
	background-color: #ffffff;
	border: 1px solid #d3d3d2;
  border-radius: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.modal-search input[type="search"]::-webkit-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.modal-search input[type="search"]:-ms-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.modal-search input[type="search"]::-ms-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.modal-search input[type="search"]::placeholder {
  font-weight: 400;
  color: #999999;
}

.modal-search input:hover {
  border: 2px solid #c7c6c5;
  border-radius: 5px;
  padding: 8px 12px;
}

.modal-search input:focus {
	border: 2px solid #8fbdec;
  border-radius: 5px;
  outline: 0;
}
/*поиск*/

.login,
.basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*вход*/
.login {
  position: relative;
  margin-right: -1px;
}

.modal-login {
  top: 36px;
  left: -170px;
  position: absolute;
  display: none;
  width: 277px;
  height: 214px;
  border-radius: 6px;
  background-color: rgb(248, 247, 244);
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  z-index: 15;
  padding: 19px 16px 23px 18px;
  -webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.modal-login-input {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: #323232;
  padding: 9px 13px;
  margin: 1px;
  width: 213px;
  height: 24px;
  border-radius: 5px;
  border: 1px solid rgb(211, 211, 210);
  margin-bottom: 19px;
}

.login:hover .modal-login {
  display: block;
  position: absolute;
}

.modal-login input[type="email"]::-webkit-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.modal-login input[type="email"]:-ms-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.modal-login input[type="email"]::-ms-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.modal-login input[type="email"]::placeholder {
  font-weight: 400;
  color: #999999;
}

.modal-login input[type="password"]::-webkit-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.modal-login input[type="password"]:-ms-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.modal-login input[type="password"]::-ms-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.modal-login input[type="password"]::placeholder {
  font-weight: 400;
  color: #999999;
}

.modal-login input:hover {
  border: 2px solid #c7c6c5;
  border-radius: 5px;
  margin: 0;
  margin-bottom: 18px;
}

.modal-login input:focus {
	border: 2px solid #8fbdec;
  border-radius: 5px;
  margin: 0;
  margin-bottom: 18px;
  outline: 0;
}

.modal-login-button {
  display: inline-block;
  vertical-align: top;
  padding-top: 12px;
  padding-right: 25px;
  padding-bottom: 8px;
  padding-left: 25px;
  border: none;
  border-radius: 24px;
  font-size: 18px;
  line-height: 24px;
  color: #fefefe;
  font-weight: bold;
}

.login-picture {
  position: absolute;
  top: 6px;
  left: 17px;
  width: 21px;
  height: 19px;
}

.login:hover path,
.login:focus path {
  fill: #000000;
}

.login:hover polygon,
.login:focus polygon {
  fill: #000000;
}

.button-login,
.button-basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  margin-left: 11px;
  padding-right: 16px;
  padding-left: 45px;
  border-radius: 20px;
  padding-top: 8px;
  padding-bottom: 9px;
}

.login:hover .button-login,
.login:focus  .button-login {
  background-color: #f8f7f4;
  color: #000000;
}

.forgot-password-registration-link a {
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  text-decoration: underline;
}

.forgot-password--registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
}

.forgot-password-registration-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  padding-left: 19px;
}

.modal-submit-login {
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
          box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  width: 100px;
  height: 44px;
  border:none;
  border-radius: 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #fefefe;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  text-align: center;
}

.modal-submit-login:hover,
.modal-submit-login:focus {
background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
-webkit-box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
        box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
}

.modal-submit-login:active {
background-image: -webkit-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
background-image: -ms-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
-webkit-box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
        box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}
/*вход*/

/*корзина*/
.button-basket-full {
  position: relative;
  background-color: #f7f6f3;
}

.basket-picture {
  position: absolute;
  top: 6px;
  left: 17px;
  width: 21px;
  height: 20px;
}

.basket-full a {
  color: #323232;
}

.basket-full:hover .modal-basket {
  display: block;
}

.modal-basket {
  display: none;
  position: absolute;
  left: 606px;
  top: 59px;
  z-index: 15;
  font-size: 13px;
  line-height: 16px;
  color: #323232;
  width: 506px;
  min-height: 203px;
  padding-left: 21px;
  padding-right: 12px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 6px;
  background-color: #f8f7f4;
  -webkit-box-shadow: 0 20px 25px 0 rgba(0, 0, 0, 0.35);
          box-shadow: 0 20px 25px 0 rgba(0, 0, 0, 0.35)
}

.added-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  min-height: 33px;
  margin-bottom: 20px;
}

.added-item:last-of-type {
  margin-bottom: 31px;
}

.added-item:last-of-type::after {
  content: "";
  position: absolute;
  bottom: -17px;
  left: -6px;
  width: 510px;
  height: 1px;
  background-color: #cacac7;
}

.delete-item {
  position: relative;
  width: 11px;
  height: 11px;
  font-size: 0;
  border: 0;
  margin-right: 9px;
  margin-top: 9px;
  cursor: pointer;
  background-color: #f8f7f4;
}

.delete-item::before,
.delete-item::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -7px;
  width: 15px;
  height: 1px;
  background-color: #231f20;
}

.delete-item::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.delete-item::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.basket-img {
  margin-right: 12px;
  border-radius: 50%;
  height: 100%;
}
.added-item-title {
  padding: 0;
  margin: 0;
  padding-top: 9px;
  width: 216px;
  margin-right: 31px;
}

.amount-and-cost {
  padding: 0;
  margin: 0;
  padding-top: 9px;
  margin-right: 28px;
}

.added-item-cost {
  color: #999999;
}

.item-total-cost {
  padding: 0;
  margin: 0;
  padding-top: 9px;
}

.total-cost {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  float: right;
}

.basket-button-buy {
  display: block;
  clear: both;
  border: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 10px;
  padding-left: 16px;
  border-radius: 24px;
  width: 176px;
  margin-left: auto;
}
/*корзина*/

/*режим работы*/
.shop-mode {
  z-index: 10;
  width: 167px;
  text-align: right;
  position: absolute;
  top: 73px;
  right: 0;
}

.shop-mode-time {
  margin:0;
  padding: 0;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  color: #ffffff;
}

.shop-mode-tel {
  margin: 0;
  padding: 0;
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
}
/*режим работы*/

/*слайдер*/
.slider {
  position: relative;
  padding-top: 313px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 42px;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.slide-button {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding-top: 11px;
  padding-right: 45px;
  padding-bottom: 11px;
  padding-left:41px;
  font-size: 31px;
  line-height: 41px;
  font-weight: 600;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  border-radius: 50px;
}

.slider-controls {
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover {
  background-color: rgba(248, 247, 244, 0.4);
}

.slide {
  display: none;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/background/slider-item1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/background/slider-item2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/background/slider-item3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}
/*слайдер*/

/*акции*/
.stock-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  padding: 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 40px;
}

.stock-item {
  display: inline-block;
  padding: 16px 21px 21px 18px;
  width: 521px;
  min-height: 192px;
  text-align: right;
  vertical-align: top;
  border-radius: 15px;
}

.stock-title {
  margin: 0;
  padding: 0;
  font-size: 35px;
  font-weight: bold;
  line-height: 41px;
  color: #ffffff;
  margin-bottom: 15px;
  text-align: left;
}

.stock-text {
  margin: 0;
  padding: 0;
  padding-left: 1px;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  color: #ffffff;
  margin-bottom: 45px;
  text-align: left;
}

.stock-item:first-child {
  background-color: #c55279;
  background: url("../img/background/raspberry.jpg") no-repeat 0 0;
  background-size: 100% 100%;
}

.stock-item:last-child {
  background-color: #4a2a20;
  background: url("../img/background/chocolate.jpg") no-repeat 0 0;
  background-size: 100% 100%;
}

.stock-button {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  padding-top: 11px;
  padding-right: 23px;
  padding-bottom: 12px;
  padding-left: 22px;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  font-weight: bold;
  border:none;
  border-radius: 23px;
}
/*акции*/

/*каталог*/
.catalog {
  margin-bottom: 43px;
}

.catalog-list {
  width: 1146px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  padding: 0px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  text-align: center;
}

.catalog-list li:nth-child(4n) {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 267px;
  margin: 0px;
  padding: 0px;
  margin-bottom: 35px;
  margin-right: 26px;
}

.item:hover .item-hover,
.item:hover .item-button {
  display: block;
}

.item:hover .item-name,
.item:hover .item-button,
.item:hover .item-hover {
  z-index: 5;
}

.item-hit::after{
  z-index: 5;
  content: "";
  position: absolute;
  width: 61px;
  height: 61px;
  top: 0px;
  left: 0px;
  background-image: url("../img/decor/hit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.item-hover {
  content: "";
  position: absolute;
  display: none;
  top: -7px;
  left: -13px;
  border-radius: 5px;
  background-color: rgba(248, 247, 244, 0.2);
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  width: 293px;
  height: 405px;
}

.item-name {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin: 0;
  padding: 0;
}

.item-name a {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.item-name a:hover {
  color: #ffbc9e;
}

.item-image {
  border-radius: 50%;
  margin-bottom: 10px;
}

.item-price {
  position: absolute;
  top: 164px;
  left: -2px;
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.item-measure {
  margin: 0;
  padding: 0;
  font-size: 30px;
  margin-left: -6px;
}

.rub{
  font-size: 45px;
}

.item-button {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  display: inline-block;
  vertical-align: top;
  position: absolute;
  top: 340px;
  left: 32px;
  display: none;
  text-align: center;
  width: 202px;
  padding-top: 9px;
  padding-bottom: 11px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 24px;
  color: #fefefe;
  font-weight: bold;
  border: none;
  border-radius: 24px;
}
/*каталог*/

/*о магазине*/
.features {
  width: 1108px;
  min-height: 281px;
  margin: 0;
  margin-bottom: 40px;
  margin-top: -43px;
  padding: 0;
  padding-top: 25px;
  padding-left: 19px;
  padding-right: 19px;
  background-color: #ece1c6;
  background-image: url("../img/background/waffle.jpg");
  border-radius: 15px;
}

.features-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
  margin: 0;
  padding: 0;
  margin-bottom: 21px;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  min-height: 138px;
  margin: 0;
  padding: 0;
}

.features-list li:first-child::before {
  position: absolute;
  content: "";
  width: 49px;
  height: 49px;
  top: -13px;
  left: 1px;
  background-image: url("../img/decor/feautures-ice-cream.svg")
}

.features-list li:nth-child(2)::before {
  position: absolute;
  content: "";
  width: 49px;
  height: 49px;
  top: -13px;
  left: 566px;
  background-image: url("../img/decor/features-cow.svg")
}

.features-list li:nth-child(3)::before {
  position: absolute;
  content: "";
  width: 49px;
  height: 49px;
  top: 75px;
  left: 1px;
  background-image: url("../img/decor/feautures-leaf.svg")
}

.features-list li:last-child::before {
  position: absolute;
  content: "";
  width: 49px;
  height: 49px;
  top: 75px;
  left: 566px;
  background-image: url("../img/decor/feautures-thermometer.svg")
}

.features-item {
  width: 482px;
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
  padding-left: 57px;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  list-style: none;
  }
/*о магазине*/

.preview-subscribe-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 40px 0px;
  padding: 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*блог*/
.preview {
  display: block;
  text-align: left;
  width: 284px;
  height: 220px;
  margin: 0px;
  padding: 0px 255px 0px 20px;
  background-image: url("../img/background/strawberry.jpg");
  border-radius: 15px;
}

.preview-title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #323232;
  margin: 0px 0px 4px 0px;
  padding: 23px 0px 0px 0px;
}

.preview a {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  color: #323232;
  text-decoration: underline;
}

.preview a:hover {
  color: #e84d37;
}
/*блог*/

/*подписка*/
.subscribe {
  position: relative;
	z-index: 0;
	display: inline-block;
	width: 560px;
	padding-top: 18px;
	padding-right: 24px;
	padding-left: 25px;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #000000;
	border-radius: 16px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.subscribe::before,
.subscribe::after {
	content: "";
	position: absolute;
}

.subscribe::before {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	background: -webkit-repeating-linear-gradient(135deg, #f8f7f4, #f8f7f4 5px, #92cdff 6px, #92cdff 10px, #fe9e90 11px, #fe9e90 15px);
	background: -o-repeating-linear-gradient(135deg, #f8f7f4, #f8f7f4 5px, #92cdff 6px, #92cdff 10px, #fe9e90 11px, #fe9e90 15px);
	background: repeating-linear-gradient(-45deg, #f8f7f4, #f8f7f4 5px, #92cdff 6px, #92cdff 10px, #fe9e90 11px, #fe9e90 15px);
	border-radius: 15px;
}

.subscribe::after {
	top: 5px;
	right: 5px;
	bottom: 5px;
	left: 6px;
	z-index: -1;
	background-color: #f8f7f4;
	border-radius: 9px;
}

.subscribe-text {
  padding-left: 2px;
	margin-bottom: 35px;
}

.subscribe-form {
	margin: 1px;
	margin-right: 10px;
	padding: 12px 14px;
	width: 338px;
	font-size: 16px;
	font-weight: bold;
	background-color: #ffffff;
	border: 1px solid #d3d3d2;
	border-radius: 5px;
}

.subscribe input[type="email"]::-webkit-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.subscribe input[type="email"]:-ms-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.subscribe input[type="email"]::-ms-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.subscribe input[type="email"]::placeholder {
  font-weight: 400;
  color: #999999;
}

.subscribe input:hover {
	margin: 0;
	margin-right: 9px;
	border: 2px solid #c7c6c5;
	border-radius: 5px;
}

.subscribe input:focus {
	margin: 0;
	margin-right: 9px;
	font-family: inherit;
	border: 2px solid #8fbdec;
	border-radius: 5px;
	outline: 0;
}

.subscribe-button {
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  color: #fefefe;
  font-weight: bold;
  padding: 10px 17px;
  border-radius: 23px;
}
/*подписка*/

/*карта адрес*/
.map-adress {
  position: relative;
  margin-bottom: 4px;
}

#map {
  min-width: 1146px;
  width: 100%;
  height: 430px;
  z-index: 5;
  margin-bottom: 4px;
}

.map-image {
  position: absolute;
  top: 0;
  z-index: 1;
}

.adress {
  position: absolute;
  top: 61px;
  left: 844px;
  text-align: center;
  display: inline-block;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.98);
  width: 302px;
  min-height: 277px;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  z-index: 10;
}

.adress-item {
  text-align: left;
  padding-left: 25px;
}

.adress-main-office {
width: 150px;
margin: 0px;
padding: 0px;
margin-bottom: 2px;
font-size: 14px;
line-height: 20px;
font-weight: 400;
}

.adress-street {
  margin: 0px;
  margin-bottom: 17px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #323232;
  width: 230px;
}

.adress-telephone {
  margin: 0px;
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 20px;
  color: #323232;
  font-weight: 400;
  word-wrap: break-word;
  width: 173px;
}

.tel {
  display: block;
  margin-top: 5px;
  margin-bottom: 2px;
  font-size: 18px;
  line-height: 22px;
  color: #323232;
  font-weight: bold;
  width: 138px;
}

.feedback-button {
  display: inline-block;
  vertical-align: center;
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 9px;
  padding-bottom: 11px;
  font-size: 18px;
  line-height: 24px;
  color: #fefefe;
  font-weight: bold;
  border: none;
  border-radius: 24px;
}
/*карта адрес*/

.footer-container {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  margin: 0px;
  padding: 0px;

  padding-bottom: 29px;
  /*min-height: 38px;*/
}

/*соцсети*/
.social {
  margin: 0;
  margin-top: 2px;
  margin-left: 1px;
  padding: 0;
  padding-top: 29px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 293px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-list li:not(:last-child){
  margin-right: 11px;
}

social-item {
  width: 32px;
  height: 32px;
}

.social-item-twitter {
  width: 32px;
  height: 32px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social-item-twitter:hover,
.social-item-twitter:focus {
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.social-item-twitter:hover path,
.social-item-twitter:focus path {
  fill-opacity: 1;
}

.social-item-instagramm {
  width: 32px;
  height: 32px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social-item-instagramm:hover,
.social-item-instagramm:focus {
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.social-item-instagramm:hover path,
.social-item-instagramm:focus path {
  fill-opacity: 1;
}

.social-item-facebook {
  width: 32px;
  height: 32px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social-item-facebook:hover,
.social-item-facebook:focus {
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.social-item-facebook:hover path,
.social-item-facebook:focus path {
  fill-opacity: 1;
}

.social-item-vkontakte {
  width: 32px;
  height: 32px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social-item-vkontakte:hover,
.social-item-vkontakte:focus {
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.social-item-vkontakte:hover path,
.social-item-vkontakte:focus path {
  fill-opacity: 1;
}
/*соцсети*/

/*о нас*/
.about-us {
  margin: 0;
  margin-left: 128px;
  padding: 0;
  padding-top: 29px;
  width: 306px;
  min-height: 42px;
}

.about-us a {
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
 }

 .about-us-item-special a {
  color: #ffffff;
 }

.about-us a:hover,
.made-in a:hover {
  color: #ffbc9e;
}

.about-us-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 307px;
}

.about-us-list li:first-child {
  margin-right: 32px;
}

.about-us-list li:nth-child(3) {
  margin-right: 45px;
}

.about-us-item {
 font-size: 13px;
 line-height: 18px;
 margin-bottom: 4px;
}

.about-us-item-special {
  position: relative;
 font-size: 13px;
 line-height: 18px;
 font-weight: bold;
}

.about-us-item-special::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 13px;
  background: url("../img/decor/heart.svg") no-repeat;
  left: -22px;
  top: 3px;
}
/*о нас*/

/*HTML Academy*/
.made-in {
  margin: 0;
  padding: 0;
  padding-top: 13px;
  margin-left: auto;
  width: 190px;
  font-size: 12px;
  line-height: 18px;
  color: #fefefe;
}

.made-in-img {
  margin-left: 2px;
}

.made-in > p {
  margin: 0;
  padding: 0;
}

.made-in a {
  color: #fefefe;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
/*HTML Academy*/

/*модальное окно*/
.modal-feedback {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -239px;
  margin-top: -222px;
  z-index: 20;
  display: none;
  border-radius: 10px;
  background-color: rgb(248, 247, 244);
  width: 430px;
  min-height: 400px;
  padding-top: 16px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 27px;
  text-align: right;
}

.modal-feedback-title {
  display: block;
  margin-bottom: 18px;
  font-size: 24px;
  line-height: 28px;
  color: #323232;
  font-weight: 500;
  text-align: left;
}

.modal-feedback p {
  text-align: left;
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
}

.modal-feedback input {
	margin: 1px;
	padding: 12px 13px;
	width: 239px;
	font-size: 16px;
	font-weight: 700;
	background-color: #ffffff;
	border: 1px solid #d3d3d2;
	border-radius: 5px;
}

.modal-feedback textarea {
  margin: 1px;
	padding: 10px 13px;
	width: 400px;
  min-height: 133px;
	font-size: 16px;
	font-weight: 700;
	background-color: #ffffff;
	border: 1px solid #d3d3d2;
  border-radius: 5px;
  resize: vertical;
}

.modal-feedback input::-webkit-input-placeholder,
.modal-feedback input::-webkit-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.modal-feedback input:-ms-input-placeholder,
.modal-feedback input:-ms-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.modal-feedback input::-ms-input-placeholder,
.modal-feedback input::-ms-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.modal-feedback input::placeholder,
.modal-feedback input::placeholder {
  font-weight: 400;
  color: #999999;
}

.modal-feedback textarea::-webkit-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.modal-feedback textarea:-ms-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.modal-feedback textarea::-ms-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.modal-feedback textarea::placeholder {
  font-weight: 400;
  color: #999999;
}

.modal-feedback input:hover,
.modal-feedback textarea:hover {
	margin: 0;
	margin-right: 9px;
	border: 2px solid #c7c6c5;
	border-radius: 5px;
}

.modal-feedback input:focus,
.modal-feedback textarea:focus {
	margin: 0;
	margin-right: 9px;
	font-family: inherit;
	border: 2px solid #8fbdec;
	border-radius: 5px;
	outline: 0;
}

.modal-submit-button {
  margin: 1px;
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  line-height: 24px;
  color: #fefefe;
  font-weight: bold;
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 24px;
}

.modal-close {
  position: absolute;
  top: 15px;
  left: 443px;
  width: 17px;
  height: 17px;
  font-size: 0;
  border: 0;
  cursor: pointer;
  background-color: #f8f7f4;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -2px;
  width: 22px;
  height: 2px;
  background-color: #231f20;
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
/*модальное окно*/

/*----------CATALOG.HTML----------*/

.inner-page {
  background-color: #8fa699;
}

.catalog-title {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  color: #ffffff;
}

/*навигация*/
.breadcrumbs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  margin-top: 20px;
  margin-bottom: 4px;

  padding: 0px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 0;
  /*line-height: 16px;*/
  list-style: none;
}

.breadcrumbs-list li {
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs-list a {
  color: #ffffff;
}

.breadcrumbs-list a[href]:hover {
  color: #ffbc9e;
}

.breadcrumbs-list li:first-child::after {
  content: "»";
  color: #ffffff;
  margin-left: 5px;
}

.breadcrumbs-list li:nth-child(2)::after {
  content: "»";
  color: #ffffff;
  margin-left: 5px;
}

.breadcrumbs-item {
  margin-right: 6px;
}

.breadcrumbs-item:first-child a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.breadcrumbs-item:nth-child(2) a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
/*навигация*/

/*фильтры*/
.catalog-filter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 24px;
}

.catalog-filter fieldset {
  border: none;
  padding: 0;
  margin: 0;
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  margin-right: 15px;
  margin-bottom: 16px;
}

.filter-sorting{
  width: 194px;
}

/*.filter-sorting-controls {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  border: none;
  padding: 9px 34px 9px 15px;
  background: rgba(255, 255, 255, 0.2) url("../img/decor/down-dir-white.png") no-repeat 168px 50%;
  border-radius: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}*/

.filter-sorting select {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  border: none;
  padding: 9px 34px 9px 15px;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.2) url("../img/decor/down-dir-white.png") no-repeat 168px 50%;
  text-indent: 0.01px;
  text-overflow: "";
  appearance: none;
    -moz-appearance: none;
     -webkit-appearance: none;
}

.filter-sorting select::-ms-expand{
  display: none;
}

.filter-sorting select:hover {
  color: #323232;
  background: rgba(255, 255, 255, 0.2) url("../img/decor/down-dir-black.png") no-repeat 168px 50%;
  cursor: pointer;
}

.filter-sorting-title {
  margin: 0 0 6px 16px;
}

.filter-price {
  width: 220px;
}

.price-controls {
  padding: 0;
  margin: 0 0 4px 14px;
}

.price-controls label {
  display: inline-block;
  vertical-align: bottom;
}

.price-controls::before {
  content: "Цена: ";
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
}

.price-controls input{
  width: 25px;
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 22px;
  padding-right: 22px;
  width: 176px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 18px;
}

.range-controls .scale {
  width: 175px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.range-controls .bar {
  position: absolute;
  left: 35px;
  width: 98px;
  height: 4px;
  background-color: rgba(255, 255, 255, 1);
}

.range-toggle {
  position: absolute;
  top: 8px;
  width: 4px;
  height: 4px;
  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle-min {
  left: 34px;
}

.range-toggle-max {
  left: 132px;
}

.range-toggle:hover,
.range-toggle:focus {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.filter-fatness {
  width: 415px;
}

.filter-fatness-title {
  margin: 0 0 6px 13px;
}

.fatness-controls {
  width: 402px;
  padding: 10px 0 5px 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 18px;
  font-size: 0;
}

.fatness-controls label {
  font-size: 16px;
  padding-left: 33px;
  margin-right: 17px;
  cursor: pointer;
}

input[type="radio"] + label:last-of-type {
  margin-right: 0;
}

input[type="radio"] + label {
  position: relative;
}

input[type="radio"] + label::before {
  position: absolute;
  content: "";
  display: block;
  top: -1px;
  left: 2px;
  width: 14px;
  height: 14px;
  border: 4px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}

input[type="radio"]:checked + label::after {
  position: absolute;
  content: "";
  display: block;
  top: 6px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
}

input[type="radio"]:not([disabled]) + label:hover::before {
  border: 4px solid #ffffff;
}

input[type="radio"]:not([disabled]) + label:hover::after {
  background-color: #ffffff;
}

input[type="radio"]:disabled + label::after,
input[type="radio"]:disabled + label::before {
  opacity: 0.4;
  cursor: default;
}

input[type="radio"]:disabled + label {
  cursor: default;
}

.filter-filling {
  width: 705px;
}

.filter-filling-title {
  margin: 0 0 6px 15px;
}

.filling-controls {
  width: 687px;
  font-size: 0;
  padding: 10px 0 5px 15px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 18px;
}

.filling-controls label {
  font-size: 16px;
  cursor: pointer;
  padding-left: 33px;
  margin-right: 21px;
}

input[type="checkbox"] + label:last-of-type {
  margin-right: 0;
}

input[type="checkbox"] + label {
  position: relative;
}

input[type="checkbox"] + label::before {
  position: absolute;
  content: "";
  display: block;
  top: -1px;
  left: 0px;
  width: 20px;
  height: 20px;
  background: url(../img/decor/checkbox-off.png) no-repeat;
  opacity: 0.8;
}

input[type="checkbox"]:checked + label::before {
  position: absolute;
  content: "";
  display: block;
  top: -1px;
  left: 0px;
  width: 24px;
  height: 20px;
  background: url(../img/decor/checkbox-on.png) no-repeat;
  opacity: 0.8;
}

input[type="checkbox"]:not([disabled]) + label:hover::before {
  opacity: 1;
}

input[type="checkbox"]:disabled + label::after,
input[type="checkbox"]:disabled + label::before {
  opacity: 0.4;
  cursor: default;
}
input[type="checkbox"]:disabled + label {
  cursor: default;
}

.catalog-filter-button {
  display: inline-block;
  vertical-align: top;
  height: 36px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 500;
  padding: 7px 28px 8px 28px;
  margin-top: 22px;
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0);
}

.catalog-filter-button:hover,
.catalog-filter-button:focus {
  color: #323232;
  background-color: rgb(255, 255, 255);
}

.catalog-filter-button:active {
  border: 0;
  padding: 9px 30px 10px 30px;
  color: #353535;
  background-color: #eaeaea;
  -webkit-box-shadow: inset 0 2px 1px #696969;
          box-shadow: inset 0 2px 1px #696969;
}

.catalog-filter-container fieldset:last-of-type {
  margin-right: 11px;
}
/*фильтры*/

/*пагинация*/
.catalog-pagination {
  position: relative;
  margin: 0;
  padding: 0;
  padding-bottom: calc(2% + 11px);
  font-size: 0;
  text-align: right;
  list-style: none;
}

.catalog-pagination .pagination-next,
.catalog-pagination .pagination-prev {
  position: relative;
  min-width: 20px;
  font-size: 0;
}

.catalog-pagination::after {
  position: absolute;
  content: "";
  display: table;
  bottom: 4px;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3)
}

.pagination-item {
  display: inline-block;
  margin-right: 3px;
  vertical-align: middle;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.pagination-item:last-child {
  margin-right: 0;
  margin-left: 2px;
}

a[class^=pagination-] {
  display: block;
  min-width: 26px;
  height: 22px;
  padding-top: 4px;
  border-radius: 50%;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}

.pagination-link:not([href]) {
  color: #323232;
  background-color: #ffffff;
}

.pagination-link[href]:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-link[href]:active {
  color: #323232;
  background-color: #ffffff;
}

.pagination-next::after,
.pagination-next::before,
.pagination-prev::after,
.pagination-prev::before {
  position: absolute;
  content: "";
  display: table;
  width: 10px;
  height: 2px;
  background-color: #ffffff;
}

.pagination-link-disabled::after,
.pagination-link-disabled::before {
  opacity: 0.2;
}

.pagination-next::before,
.pagination-prev::before {
  top: 9px;
  right: 0;
}

.pagination-next::after,
.pagination-prev::after {
  bottom: 9px;
  right: 0;
}

.pagination-prev::after,
.pagination-prev::before {
  left: 0;
}

.pagination-next::after,
.pagination-prev::before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
}
.pagination-next::before,
.pagination-prev::after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
}
/*пагинация*/
