/*глобальные стили*/
body {
  margin: 0 auto;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}



.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {

}
/*глобальные стили*/


/*кнопки. общий стиль*/
.button {
  display: inline-block;
  color: #ffffff;
  text-align: center;
  vertical-align: top;
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
/*кнопки. общий стиль*/


/*хедер*/
.main-header {
  position: relative;
}

.main-header-container {
  display: flex;
  vertical-align: middle;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.logo {
  margin: 0;
  padding: 0;
  margin-right: 9px;
  padding-top: 9px;
}

.main-navigation a {
  color: #ffffff;
}

.navigation {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  list-style: none;
  display: flex;
  vertical-align: middle;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  min-height: 73px;
  margin-top: 2px;
}

.navigation-item {
  vertical-align: middle;
  align-self: center;
}

.navigation-item a {
  display: inline-block;
  vertical-align: middle;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.for-submenu {
  position: relative;
}

.for-submenu:hover .submenu {
  display: block;
}

.navigation-link:hover,
.navigation-link:focus {
  color: #323232;
  background-color: #f8f7f4;
  border-radius: 21px;
}

.navigation-link:active {
  box-shadow: inset 0 2px 1px 0 #696969;
}

.navigation-link-active {
  background-color: #d07058;
  border-radius: 21px;
}

.submenu {
  display: none;
  position: absolute;
  top: 36px;
  left: -5px;

  flex-direction: column;
  list-style: none;
  width: 143px;
  min-height: 165px;
  margin: 0;
  padding: 0;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.submenu a {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.submenu::before {
  position: absolute;
  top: 38px;
  left: 7px;
  content: "";
  width: 128px;
  height: 1px;
  background-color: #d1d0ce;
}

.navigation .submenu-item-active a {
  background-color: #d07058;
  color: #ffffff;
}

.submenu-item a {
  display: block;
}

.submenu-item:hover,
.submenu-item:focus {
  background-color: #fbded7;
}

.submenu-item-active {
  background-color: #d07058;
}

.submenu-item-active a {
  color: #ffffff;
}

.special a {
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.user-menu {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  list-style: none;
  display: flex;
  vertical-align: middle;
  margin-left: auto;
  margin-right: 1px;
  padding: 0;
  min-height: 73px;
  align-self: center;
}

.user-menu a {
  color: #ffffff;
  text-decoration: none;
}

/*поиск*/
.search {
  position: relative;
  display: flex;
}

.button-search {
  display: block;
  box-sizing: border-box;
  width: 33px;
  height: 33px;
  background-color: rgb(255, 255, 255, 0.2);
  align-self: center;
  padding: 7px;
  padding-left: 9px;
  border-radius: 50%;
}

.search:hover .modal-search {
  display: block;
  position: absolute;
}

.search:hover .button-search {
  background-color: #f8f7f4;
}

.search:hover .button-search path {
  fill: #000000;
}

.modal-search {
  box-sizing: border-box;
  position: absolute;
  display: none;
  top: 56px;
  left: -308px;
  padding: 0;
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 21px;
  border-radius: 6px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  width: 341px;
  height: 84px;
  z-index: 15;
}

.modal-search-input {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: #323232;
  margin:0;
  padding:0;
  height: 43px;
  padding-left: 13px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgb(211, 211, 210);
}

.modal-search input[type="search"]::placeholder {
  font-weight: 400;
  color: #999999;
}

.modal-search input:hover {
  border: 2px solid #c7c6c5;
	border-radius: 5px;
}

.modal-search input:focus {
	border: 2px solid #8fbdec;
	border-radius: 5px;
  outline: 0;
}
/*поиск*/

.login,
.basket {
  display: flex;
}

/*вход*/
.login {
  position: relative;
}

.modal-login {
  top: 56px;
  left: -175px;
  position: absolute;
  display: none;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  width: 277px;
  height: 214px;
  padding-top: 19px;
  padding-left: 20px;
  padding-right: 16px;
  z-index: 15;
}

.modal-login-input {
  box-sizing: border-box;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: #323232;
  margin:0;
  padding:0;
  height: 44px;
  padding-left: 13px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgb(211, 211, 210);
  margin-bottom: 20px;
}

.modal-login-form {
  display: flex;
  vertical-align: middle;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.login:hover .modal-login {
  display: block;
  position: absolute;
}

.modal-login input[type="email"]::placeholder {
  font-weight: 400;
  color: #999999;
}

.modal-login input[type="password"]::placeholder {
  font-weight: 400;
  color: #999999;
}

.modal-login input:hover {
  border: 2px solid #c7c6c5;
	border-radius: 5px;
}

.modal-login input:focus {
	border: 2px solid #8fbdec;
	border-radius: 5px;
  outline: 0;
}

.modal-login-button {
  display: inline-block;
  vertical-align: top;
  padding: 10px 25px;
  height: 43px;
  border: none;
  border-radius: 24px;
  font-size: 18px;
  line-height: 24px;
  color: #fefefe;
  font-weight: bold;
  cursor: pointer;
}

/*.modal-login-button:focus {
	border: 2px solid #8fbdec;
	border-radius: 24px;
  outline: 0;
}*/

.forgot-password-registration-link a {
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  text-decoration: underline;
}





.stock-list {
  list-style: none;
  display: flex;
  margin: 0px;
  padding: 0px;
  justify-content: space-between;
  margin-bottom: 40px;
}

.stock-item {
  box-sizing: border-box;
  width: 560px;
  height: 229px;
  border-radius: 15px;
  padding-top: 15px;
  padding-bottom: 75px;
  padding-left: 18px;
  padding-right: 22px;
}

.stock-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
  margin-bottom: 16px;
}

.stock-text {
  font-size: 18px;
  font-weight: 22px;
  font-weight: bold;
  color: #ffffff;

  padding: 0px;
  margin: 0px;
  margin-bottom: 44px;
  width: 522px;
  line-height: 22px;
  text-align: left;
}

.stock-item:first-child {
  background-image: url("../img/background/raspberry.jpg");
}

.stock-item:last-child {
  background-image: url("../img/background/chocolate.jpg");
}

.stock-button {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  float: right;
  padding: 12px 22px;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  font-weight: bold;
  border:none;
  border-radius: 23px;
}

.catalog-list {
  list-style: none;
  text-align: center;
}

.item-name a {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.item-name a:hover {
  color: #ffbc9e;
}

.item-price {
  position: absolute;
  top: 164px;
  left: -2px;
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.item-measure {
  margin: 0;
  padding: 0;
  font-size: 30px;
}

.rub{
  font-size: 45px;
}

.features {
  width: 1108px;
  min-height: 283px;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  padding-top: 23px;
  padding-left: 19px;
  padding-right: 19px;
  background-color: #ece1c6;
  background-image: url("../img/background/waffle.jpg");
  border-radius: 15px;
}

.features-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  min-height: 138px;
  margin: 0;
  padding: 0;
}

.features-list li:first-child::before {
  position: absolute;
  content: "";
  width: 49px;
  height: 49px;
  top: -12px;
  left: 2px;
  background-image: url("../img/decor/feautures-ice-cream.svg")
}

.features-list li:nth-child(2)::before {
  position: absolute;
  content: "";
  width: 49px;
  height: 49px;
  top: -12px;
  left: 567px;
  background-image: url("../img/decor/features-cow.svg")
}

.features-list li:nth-child(3)::before {
  position: absolute;
  content: "";
  width: 49px;
  height: 49px;
  top: 76px;
  left: 2px;
  background-image: url("../img/decor/feautures-leaf.svg")
}

.features-list li:last-child::before {
  position: absolute;
  content: "";
  width: 49px;
  height: 49px;
  top: 76px;
  left: 567px;
  background-image: url("../img/decor/feautures-thermometer.svg")
}

.features-item {
  width: 482px;
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
  padding-left: 58px;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  list-style: none;
  }

.features-text {
  margin: 0;
  padding: 0;
}

.preview-subscribe-container {
  display: flex;
  margin: 0px 0px 40px 0px;
  padding: 0px;
  justify-content: space-between;
}

.preview {
  display: block;
  text-align: left;
  width: 284px;
  height: 220px;
  margin: 0px;
  padding: 0px 255px 0px 20px;
  background-image: url("../img/background/strawberry.jpg");
  border-radius: 15px;
}

.preview-title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #323232;
  margin: 0px 0px 5px 0px;
  padding: 22px 0px 0px 0px;
}

.preview-name {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

.preview a {
  color: #323232;
  text-decoration: underline;
}

.preview a:hover {
  color: #e84d37;
}

.subscribe {
  position: relative;
	z-index: 0;
	display: inline-block;
	width: 560px;
	padding-top: 18px;
	padding-right: 24px;
	padding-left: 26px;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #000000;
	border-radius: 16px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.subscribe::before,
.subscribe::after {
	content: "";
	position: absolute;
}

.subscribe::before {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	background: -webkit-repeating-linear-gradient(135deg, #f8f7f4, #f8f7f4 5px, #92cdff 6px, #92cdff 10px, #fe9e90 11px, #fe9e90 15px);
	background: -o-repeating-linear-gradient(135deg, #f8f7f4, #f8f7f4 5px, #92cdff 6px, #92cdff 10px, #fe9e90 11px, #fe9e90 15px);
	background: repeating-linear-gradient(-45deg, #f8f7f4, #f8f7f4 5px, #92cdff 6px, #92cdff 10px, #fe9e90 11px, #fe9e90 15px);
	border-radius: 15px;
}

.subscribe::after {
	top: 5px;
	right: 5px;
	bottom: 5px;
	left: 6px;
	z-index: -1;
	background-color: #f8f7f4;
	border-radius: 9px;
}

.subscribe-text {
	margin-bottom: 34px;
}

.subscribe input {
	margin: 1px;
	margin-right: 10px;
	padding: 12px 12px;
	width: 342px;
	font-size: 16px;
	font-weight: 700;
	background-color: #ffffff;
	border: 1px solid #d3d3d2;
	border-radius: 5px;
}

.subscribe input {
	font-weight: 400;
}

.subscribe input:hover {
	margin: 0;
	margin-right: 9px;
	border: 2px solid #c7c6c5;
	border-radius: 5px;
}

.subscribe input:focus {
	margin: 0;
	margin-right: 9px;
	font-family: inherit;
	border: 2px solid #8fbdec;
	border-radius: 5px;
	outline: 0;
}

.subscribe-button {
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  color: #fefefe;
  font-weight: bold;
  padding: 10px 17px;
  border-radius: 23px;
}

.map {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.adress {
  position: absolute;
  text-align: center;
  left: 870px;
  top: 63px;
  display: inline-block;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.98);
  width: 302px;
  min-height: 277px;
  margin: 0;
  padding: 0;
  padding-top: 29px;
}

.adress-item {
  text-align: left;
  padding-left: 25px;
}

.adress-main-office {
width: 150px;
margin: 0px;
padding: 0px;
margin-bottom: 2px;
font-size: 14px;
line-height: 20px;
font-weight: 400;
}

.adress-street {
  margin: 0px;
  margin-bottom: 17px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #323232;
  width: 230px;
}

.adress-telephone {
  margin: 0px;
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 20px;
  color: #323232;
  font-weight: 400;
  word-wrap: break-word;
  width: 173px;
}

.tel {
  display: block;
  margin-top: 5px;
  margin-bottom: 3px;
  font-size: 18px;
  line-height: 22px;
  color: #323232;
  font-weight: bold;
}

.feedback-button {
  display: inline-block;
  vertical-align: center;
  width: 197px;
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 9px;
  padding-bottom: 11px;
  font-size: 18px;
  line-height: 24px;
  color: #fefefe;
  font-weight: bold;
  border: none;
  border-radius: 24px;
}

.feedback {
  display: block;
  margin: auto;
  width: 197px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 28px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #fefefe;
  text-align: center;
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  border-radius: 50px;
}

.item-image {
  border-radius: 50%;
  margin-bottom: 10px;
}





/* inner-page*/

.inner-page {
  background-color: #8fa699;
  width: 1146;
  margin: 0 auto;
  padding: 0 27px;
}


.catalog-title {
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  color: #ffffff;
}

.catalog-pagination {
  position: relative;
  margin: 0;
  padding: 0;
  padding-bottom: calc(2% + 11px);
  font-size: 0;
  text-align: right;
  list-style: none;
}

.catalog-pagination::after {
  position: absolute;
  content: "";
  display: table;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3)
}

.pagination-item {
  display: inline-block;
  margin-right: 3px;
  vertical-align: middle;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.pagination-item:last-child {
  margin-right: 0;
  margin-left: 2px;
}

a[class^=pagination-] {
  display: block;
  min-width: 26px;
  height: 22px;
  padding-top: 4px;
  border-radius: 50%;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}

.pagination-link:not([href]) {
  color: #323232;
  background-color: #ffffff;
}

.pagination-link[href]:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-link[href]:active {
  color: #323232;
  background-color: #ffffff;
}

.catalog-pagination .pagination-next,
.catalog-pagination .pagination-prev {
  position: relative;
  min-width: 20px;
  font-size: 0;
}

.pagination-next::after,
.pagination-next::before,
.pagination-prev::after,
.pagination-prev::before {
  position: absolute;
  content: "";
  display: table;
  width: 10px;
  height: 2px;
  background-color: #ffffff;
}

.pagination-link-disabled::after,
.pagination-link-disabled::before {
  opacity: 0.2;
}

.pagination-next::before,
.pagination-prev::before {
  top: 9px;
  right: 0;
}

.pagination-next::after,
.pagination-prev::after {
  bottom: 9px;
  right: 0;
}

.pagination-prev::after,
.pagination-prev::before {
  left: 0;
}

.pagination-next::after,
.pagination-prev::before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.pagination-next::before,
.pagination-prev::after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*---СЕТКИ---*/

.inner {
  width: 1146px;
  margin: 0 auto;
  padding-left: 27px;
  padding-right: 27px;
}









.button-login,
.button-basket {
  display: flex;
  position: relative;
}

.login-picture {
  position: absolute;
  top: 7px;
  left: 18px;
  width: 21px;
  height: 19px;
}

.login:hover path,
.login:focus path {
  fill: #000000;
}

.login:hover polygon,
.login:focus polygon {
  fill: #000000;
}

.basket-picture {
  position: absolute;
  top: 6px;
  left: 17px;
  width: 21px;
  height: 20px;

}


.button-login,
.button-basket {
  display: flex;
  align-self: center;
  background-color: rgb(255, 255, 255, 0.2);
  margin-left: 10px;
  padding-right: 16px;
  padding-left: 45px;
  border-radius: 20px;
  padding-top: 8px;
  padding-bottom: 9px;
}

.login:hover .button-login,
.login:focus  .button-login {
  background-color: #f8f7f4;
  color: #000000;
}






.forgot-password--registration {
  display: flex;
}

.forgot-password-registration-link {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-left: 19px;
}



.modal-submit-login {
    background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    width: 100px;
    height: 44px;
    border:none;
    border-radius: 20px;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color: #fefefe;
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
    text-align: center;
}

.modal-submit-login:hover,
.modal-submit-login:focus {
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
}


.modal-submit-login:active {
  background-image: -moz-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}



.shop-mode {
  z-index: 10;
  width: 167px;
  text-align: right;
  position: absolute;
  top: 72px;
  left: 1006px;

}

.shop-mode-time {
  margin:0;
  padding: 0;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  color: #ffffff;
}

.shop-mode-tel {
  margin: 0;
  padding: 0;
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
}






.catalog {
  margin-bottom: 43px;
}


.catalog-list {
  display: flex;
  margin: 0px;
  padding: 0px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.catalog-list li:nth-child(4n) {
  margin: 0;
  padding: 0;
}




.item {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 267px;
  margin: 0px;
  padding: 0px;
  margin-bottom: 35px;
  margin-right: 26px;
  z-index: 4;
}

.item:hover .item-hover,
.item:hover .item-button {
  display: block;
}

.item-hover {
  position: absolute;
  display: none;
  top: -7px;
  left: -13px;
  border-radius: 5px;
  background-color: rgb(248, 247, 244);
  opacity: 0.2;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  width: 293px;
  height: 405px;
}


.item-name {
  z-index: 4;
  order: 2;
  margin: 0;
  padding: 0;

}

.item-button {
  z-index: 4;
  order: 3;
  display: inline-block;
  vertical-align: top;
  position: absolute;
  top: 340px;
  left: 32px;
  display: none;
  text-align: center;
  width: 202px;
  padding-top: 9px;
  padding-bottom: 11px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 24px;
  color: #fefefe;
  font-weight: bold;
  border: none;
  border-radius: 24px;
}










.tel {
  width: 138px;
}

/*footer*/
.about-us a:hover,
.made-in a:hover {
  color: #ffbc9e;
}


.footer-container {
  display:flex;
  margin: 0px;
  padding: 0px;

  padding-bottom: 29px;
  min-height: 38px;
}

.social {
  min-width: 188px;
  margin: 0;
  margin-right: 235px;
  padding: 0;
  padding-top: 29px;
}

.social-list {
  min-width: 182px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-item-twitter {
  width: 32px;
  height: 32px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social-item-twitter:hover,
.social-item-twitter:focus {
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.social-item-twitter:hover path,
.social-item-twitter:focus path {
  fill-opacity: 1;
}

.social-item-instagramm {
  width: 32px;
  height: 32px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social-item-instagramm:hover,
.social-item-instagramm:focus {
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.social-item-instagramm:hover path,
.social-item-instagramm:focus path {
  fill-opacity: 1;
}

.social-item-facebook {
  width: 32px;
  height: 32px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social-item-facebook:hover,
.social-item-facebook:focus {
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.social-item-facebook:hover path,
.social-item-facebook:focus path {
  fill-opacity: 1;
}

.social-item-vkontakte {
  width: 32px;
  height: 32px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social-item-vkontakte:hover,
.social-item-vkontakte:focus {
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.social-item-vkontakte:hover path,
.social-item-vkontakte:focus path {
  fill-opacity: 1;
}

.about-us {
  margin: 0;
  padding: 0;
  padding-top: 29px;
  width: 306px;
  min-height: 42px;
}

.about-us-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.about-us-list li:first-child {
  margin-right: 32px;
}

.about-us-list li:nth-child(3) {
  margin-right: 45px;
}

.about-us-item {
 font-size: 13px;
 line-height: 18px;
 margin-bottom: 4px;
}

.about-us-item-special {
  position: relative;
 font-size: 13px;
 line-height: 18px;
 font-weight: bold;
}

.about-us-item-special::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 13px;
  background: url("../img/decor/heart.svg") no-repeat;
  left: -22px;
  top: 3px;
}

.about-us a {
 color: #ffffff;
 border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.about-us-item-special a {
 color: #ffffff;
}

.made-in {
  margin: 0;
  padding: 0;
  padding-top: 12px;
  margin-left: auto;
  width: 190px;
  font-size: 12px;
  line-height: 18px;
  color: #fefefe;
}

.made-in > p {
  margin: 0;
  padding: 0;
}

.made-in a {
  color: #fefefe;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}



.breadcrumbs-list {
  display: flex;
  margin: 0px;
  margin-top: 20px;
  margin-bottom: 4px;

  padding: 0px;
  justify-content: flex-start;
  font-size: 14px;
  line-height: 16px;
  list-style: none;
}

.breadcrumbs-list a {
  color: #ffffff;
}

.breadcrumbs-item {
  margin-right: 7px;
}

.breadcrumbs-item:first-child a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.breadcrumbs-item:nth-child(2) a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}


.breadcrumbs-list li:first-child::after {
  content: "»";
  color: #ffffff;
  margin-left: 5px;
}

.breadcrumbs-list li:nth-child(2)::after {
  content: "»";
  color: #ffffff;
  margin-left: 5px;
}







  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

.test {
  width: 300px;
  height: 300px;
  background-color: red;
}

/*СЛАЙДЕР*/
.site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/background/slider-item1.png");
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("img/slider-item2.png");
}

.site-wrapper::after {
  background-image: url("img/slider-item3.png");
}

.slider {
  position: relative;
  padding-top: 313px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 42px;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 29px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.slide-button {
  padding: 12px 44px;
  font-size: 31px;
  line-height: 41px;
  font-weight: 600;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  border-radius: 50px;
}

.slider-controls {
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover {
  background-color: rgba(248, 247, 244, 0.4);
}

.slide {
  display: none;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/background/slider-item1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/background/slider-item2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/background/slider-item3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

/*модальное окно*/
.modal-feedback {
  position: fixed;
  top: 10%;
  left: 50%;
  margin-left: -239px;
  z-index: 20;
  display: none;
  border-radius: 10px;
  background-color: rgb(248, 247, 244);
  width: 430px;
  min-height: 442px;
  padding-top: 15px;
  padding-left: 24px;
  padding-right: 24px;
  text-align: right;
}

.modal-feedback-title {
  display: block;
  margin-bottom: 18px;
  font-size: 24px;
  line-height: 28px;
  color: #323232;
  font-weight: 500;
  text-align: left;
}



.modal-feedback p {
  text-align: left;
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
}

.modal-feedback input {
	margin: 1px;
	padding: 12px 13px;
	width: 239px;
	font-size: 16px;
	font-weight: 700;
	background-color: #ffffff;
	border: 1px solid #d3d3d2;
	border-radius: 5px;
}

.modal-feedback textarea {
  margin: 1px;
	padding: 10px 13px;
	width: 400px;
  min-height: 133px;
	font-size: 16px;
	font-weight: 700;
	background-color: #ffffff;
	border: 1px solid #d3d3d2;
	border-radius: 5px;
}

.modal-feedback input::placeholder,
.modal-feedback input::placeholder {
  font-weight: 400;
  color: #999999;
}

.modal-feedback textarea::placeholder {
  font-weight: 400;
  color: #999999;
}

.modal-feedback input:hover,
.modal-feedback textarea:hover {
	margin: 0;
	margin-right: 9px;
	border: 2px solid #c7c6c5;
	border-radius: 5px;
}

.modal-feedback input:focus,
.modal-feedback textarea:focus {
	margin: 0;
	margin-right: 9px;
	font-family: inherit;
	border: 2px solid #8fbdec;
	border-radius: 5px;
	outline: 0;
}

.modal-submit-button {
  margin: 1px;
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  line-height: 24px;
  color: #fefefe;
  font-weight: bold;
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 24px;
}

.modal-close {
  position: absolute;
  top: 14px;
  left: 444px;
  width: 17px;
  height: 17px;
  font-size: 0;
  border: 0;
  cursor: pointer;
  background-color: #f8f7f4;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -2px;
  width: 22px;
  height: 2px;
  background-color: #231f20;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.item-hit::before{
  z-index: 5;
  content: "";
  position: absolute;
  width: 61px;
  height: 61px;
  top: 0px;
  left: 0px;
  background-image: url("../img/decor/hit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*Фильтры*/
.catalog-filter {
  margin: 0;
  padding: 0;
}

.catalog-filter-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 857px;
}

.catalog-filter fieldset {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
}

.catalog-filter legend {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  font-weight: 500;
  margin: 0 0 6px 17px;
  padding: 0 0 0 0;
}

.filter-controls {
  height: 36px;
  border-radius: 25px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.2);
}

.filter-sorting {
  width: 193px;
}

.sorting-controls {
  width: 193px;
  padding-left: 15px;
  padding-right: 30px;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.2)
    url("../img/decor/down-dir-white.png")
    no-repeat 168px 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.sorting-controls:hover {
  color: #323232;
  background: #ffffff
    url("../img/decor/down-dir-black.png")
    no-repeat 168px 50%;
  cursor: pointer;
}

.price-controls {
  width: 202px;
  height: 20px;
  padding-top: 16px;
}
.price-controls .range-scale {
  position: relative;
  margin-left: 5px;
  width: 176px;
  height: 4px;
  background-color: rgba(248, 247, 244, 0.5);
}
.price-controls .range-bar {
  width: 60%;
  height: 4px;
  margin-left: 17px;
  background-color: rgba(248, 247, 244, 1);
}
.price-controls .range-toggle {
  position: absolute;
  top: -8px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f8f7f4;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.price-controls .range-toggle:after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #ababab;
  top: 8px;
  left: 8px;
}

.price-controls .range-toggle-min {
  left: 14px;
}
.price-controls .range-toggle-max {
  left: 113px;
}
.price-controls .range-toggle:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.filter-richness {
  width: 416px;
  margin-right: 0;
}
.richness-controls,
.filling-controls {
  height: 29px;
  padding-top: 7px;
  font-size: 0;
}
.richness-controls label,
.filling-controls label {
  display: inline-block;
  vertical-align: top;
  color: #ffffff;
  margin-top: 2px;
}
.filter-filling {
  width: 703px;
}
.catalog-filter .button {
  width: 140px;
  margin-right: 0;
  padding: 7px 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}
.catalog-filter .button:active {
  padding: 9px 0;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  position: relative;
  margin-right: 18px;
  padding-left: 31px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  cursor: pointer;
}

input[type="radio"] + label:last-of-type {
  margin-right: 0;
}

input[type="radio"] + label::before {
  position: absolute;
  content: "";
  display: block;
  top: -2px;
  left: 0;
  width: 14px;
  height: 14px;
  border: 4px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}

input[type="radio"]:checked + label::after {
  position: absolute;
  content: "";
  display: block;
  top: 5px;
  left: 7px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #f8f7f4;
}

input[type="radio"]:not([disabled]) + label:hover::before {
  width: 14px;
  height: 14px;
  border: 4px solid #ffffff;
}

input[type="radio"]:disabled + label::after,
input[type="radio"]:disabled + label::before {
  opacity: 0.4;
  cursor: default;
}

input[type="radio"]:disabled + label {
  cursor: default;
}

input[type="checkbox"] + label {
  position: relative;
  margin-right: 21px;
  padding-left: 32px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
}

input[type="checkbox"] + label:last-of-type {
  margin-right: 0;
}
input[type="checkbox"] + label::before {
  position: absolute;
  content: "";
  display: block;
  top: -1px;
  left: 1px;
  width: 23px;
  height: 23px;
  background: url("../img/decor/checkbox-off.svg") no-repeat;
  opacity: 0.8;
}

input[type="checkbox"]:checked + label::after {
  position: absolute;
  content: "";
  display: block;
  top: -1px;
  left: 1px;
  width: 24px;
  height: 20px;
  background: url(https://raw.githubusercontent.com/hacesloque/1073601-gllacy-25/master/img/decor/checkbox-on.png);
}

input[type="checkbox"]:not([disabled]) + label:hover::before {
  opacity: 1;
}

input[type="checkbox"]:disabled + label::after,
input[type="checkbox"]:disabled + label::before {
  opacity: 0.4;
  cursor: default;
}
input[type="checkbox"]:disabled + label {
  cursor: default;
}

.catalog-filter-button {
  display: inline-block;
  vertical-align: top;
  margin-top: 22px;
  height: 36px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 500;
  padding: 7px 28px 8px 28px;
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0);
}

.catalog-filter-button:hover,
.catalog-filter-button:focus {
  color: #323232;
  background-color: rgb(255, 255, 255);
}

.catalog-filter-button:active {
  border: 0;
  padding: 9px 30px 10px 30px;
  color: #353535;
  background-color: #eaeaea;
  box-shadow: inset 0 2px 1px #696969;
}

/*корзина модальное окно*/

.basket-full a {
  color: #323232;
}

.modal-basket {
  display: none;
  position: absolute;
  left: 633px;
  top: 59px;
  z-index: 5;
  font-size: 13px;
  line-height: 16px;
  color: #323232;
  width: 506px;
  min-height: 203px;
  padding-left: 21px;
  padding-right: 12px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 6px;
  background-color: #f8f7f4;
  box-shadow: 0 20px 25px 0 rgba(0, 0, 0, 0.35)
}

.added-item {
  display: flex;
  position: relative;
  align-items: top;
  min-height: 33px;
  margin-bottom: 20px;
}

.added-item:last-of-type {
  margin-bottom: 31px;
}

.added-item:last-of-type::after {
  content: "";
  position: absolute;
  bottom: -17px;
  left: -6px;
  width: 510px;
  height: 1px;
  background-color: #cacac7;
}

.delete-item {
  position: relative;
  width: 11px;
  height: 11px;
  font-size: 0;
  border: 0;
  margin-right: 9px;
  margin-top: 9px;
  cursor: pointer;
  background-color: #f8f7f4;
}

.delete-item::before,
.delete-item::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -2px;
  width: 15px;
  height: 1px;
  background-color: #231f20;
}

.delete-item::before {
  transform: rotate(45deg);
}

.delete-item::after {
  transform: rotate(-45deg);
}

.basket-img {
  margin-right: 12px;
  border-radius: 50%;
  height: 100%;
}
.added-item-title {
  padding: 0;
  margin: 0;
  padding-top: 9px;
  width: 216px;
  margin-right: 32px;
}

.amount-and-cost {
  padding: 0;
  margin: 0;
  padding-top: 9px;
  margin-right: 28px;
}

.added-item-cost {
  color: #999999;
}

.item-total-cost {
  padding: 0;
  margin: 0;
  padding-top: 9px;
}

.total-cost {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  float: right;
}

.basket-button {
  display: inline-block;
  float: right;
  clear: both;
  border: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 10px;
  padding-left: 16px;
  border-radius: 24px;
}

.button-basket-full {
  position: relative;
  background-color: #f7f6f3;
}

.basket-full:hover .modal-basket {
  display: block;
}
